@tailwind base;

@tailwind components;

@tailwind utilities;

@import "buttons";

textarea:focus-visible, input:focus-visible, select:focus-visible {
  outline: theme('colors.red') solid 2px;
  outline-offset: 3px;
}

textarea:disabled, input:disabled, select:disabled {
  @apply bg-gray cursor-not-allowed;
}

.container {
  max-width: 1200px;
}

.card {
  @apply border border-black bg-white p-3 shadow;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  grid-template-areas:
  'top'
  'sidebar'
  'main';

  @screen sm {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
  'top top .'
  'main main sidebar';
  }
}

.area-top {
  grid-area: top;
}

.area-main {
  grid-area: main;
}

.area-sidebar {
  grid-area: sidebar;
}

.twitter-tweet {
  @apply mx-auto;
}

.skeleton {
  background-image: linear-gradient(to right, #f6f7f8 10%, #dddddd 20%, #f6f7f8 20%, #f6f7f8 25%);
  background-size: 1000px 100%;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
}

.prose {
  ul > li::before {
    background: black;
  }

  blockquote {
    border-left-color: #CBCBCB;
  }

  pre {
    @apply rounded-none;
  }
}

@keyframes shimmer {
  from {
    background-position: -1000px;
  }

  to {
    background-position: 0;
  }
}
